
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-image:url('/Img/Konachan - 226663_.jpg');  background-size:cover ;   " class="html"  >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login登陆到萌豚</title>
    <style type="text/css" >
   
        
        .div {
            text-align:center ;
        }
        .img {
            opacity:1.0;
        }
        .img:hover {
            animation-name : img;            
            animation-delay :500ms;
            animation-duration:3s;
            opacity :0.5;
            animation-fill-mode:forwards;
        }
        .text1 
        {
            font-size: 100px;
            font-family:微软雅黑;
            text-shadow :1px 1px 2px #616161;
            opacity :0.8;
            color:white ;            
        }
    </style>
</head>
<body> 
    <div >
            @*<img class="img" src="~/Img/Konachan - 226663_.jpg" />*@
           <text class="text1">萌豚</text>
    </div>
</body>
</html>
